<section id="about">
  <div class="About max-vh-200" >
    <div class="row text-center text-light" >
      <h2 class="fw-bold">About Me</h2>
    </div><br>
    <div class="row justify-content-center text-light">
        <div class="col-4">
        <p class="text-center">
            Seorang mahasiswa Tahap Persiapan Bersama (TPB) Sekolah Teknik Elektro dan Informatika 
            Institut Teknologi Bandung. Saya tertarik dan menekuni bidang ilmu Matematika, 
            Fisika, Teknik, komupter dan tertarik pada pengembangan pendidikan. Saya memiliki 
            pengalaman pada kegiatan pendidikan sebagai pengajar pada suatu event belajar dan
        </p>
        </div>
        <div class="col-4">
        <p class="text-center">
            sebagai founder serta pembuat konten pada platforma belajar Exact Learn dan ikut
            berbagai kegiatan non akademik seperti kepanitiaan event dan suatu lomba. saya juga
            selalu termotivasi untuk sealu belajar hal-hal baru dan selalu berusaha untuk
            meningkatkan kemampuan untuk mencapai tujuan yang diinginkan  
        </p>
        </div>
    </div>
  </div>
</section>


