<section id="interest">
  <div class="interest">
    <div class="row text-center">
      <h2 class="fw-bold">Current Interest</h2>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-evenly">
      <div class="col">
        <div class="card shadow-lg">
          <img [src]="app_script" class="card-img-top" alt="App Script">
          <div class="card-body">
            <h5 class="card-title fw-bold">Google Apps Script</h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-lg">
          <img [src]="physics" class="card-img-top" alt="physics">
          <div class="card-body">
            <h5 class="card-title fw-bold">Menyusun Soal</h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-lg">
          <img [src]="python" class="card-img-top" alt="python">
          <div class="card-body">
            <h5 class="card-title fw-bold">Python & Data Analysis</h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-lg">
          <img [src]="ccpp" class="card-img-top" alt="CCPP">
          <div class="card-body">
            <h5 class="card-title fw-bold">C / C++</h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-lg">
          <img [src]="front" class="card-img-top" alt="python">
          <div class="card-body">
            <h5 class="card-title fw-bold">Front End</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#022B3A" fill-opacity="1" d="M0,288L120,288C240,288,480,288,720,277.3C960,267,1200,245,1320,234.7L1440,224L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path></svg>
</section>
